:root {

	--c1: #6d30b8;

    --bg-nav: #b1a8b938;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.logo {
    height: 3em;
}

.nav1 {
    display: grid;
    grid-template-columns: 10em 1fr 15em 8em 8em;
    grid-gap: 1em;
    padding: 2.5em 5em;
    
}

.nav1 > .btn-f{
    background-color: var(--c1);
    color: #fff;
    border: none;
    border-radius: 0!important;
}

.btn-b {
    background-color: #fff;
    border: .25em solid var(--c1);
    color: var(--c1);
    border-radius: 0!important;

}

.nav2 {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: 1fr auto auto auto auto auto 1fr;
    grid-gap: 3em;
    padding: 1.2em 5em;
    text-align: center;
    background-color: var(--bg-nav);
}

.nav2 a {
    text-decoration: none;
    color: var(--c1);
    
}

.btn-text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: .9em;
}
